/Users/elinamansurova/Desktop/Projects/Flower/[[:space:]]Classification/Flower/[[:space:]]Classification/FlowerClassifier.mlmodel filter=lfs diff=lfs merge=lfs -text
/Users/elinamansurova/Desktop/Projects/Flower/[[:space:]]Classification/Flower/[[:space:]]Classification/FlowerClassifier.mlmodel.psd filter=lfs diff=lfs merge=lfs -text
FlowerClassifier.mlmodel filter=lfs diff=lfs merge=lfs -text
